<table id="variants_dataTable" class="table  border-0 table-sm table-hover" style="width: 100%; margin-bottom: 40px; font-family: 'Nunito Sans', sans-serif;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Fecha Creacion</th>
      <th>Fecha Modificacion</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
