<!-- Modal -->
<div class="modal fade" id="ct1_choice_modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" >
  <div style="max-width: 1050px" class="modal-dialog modal-xl  modal-dialog-scrollable modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header shadow-sm text-center">
        <h5 class="ml-auto" name="test" id="productsModalTitle">Elige una Categoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="padding: 0 15px">
        <div class="row choiceModal">
          <div class="col-md-4" >
            <div class="card-body border rounded shadow-sm text-center" >
              <a id="ct1_choice_opt1" href="#ct1_productsModalForm" data-toggle="modal" class="fas fa-car"></a>
                <a href="#ct1_productsModalForm" id="choiceModal_title" data-toggle="modal" class="choiceModal_title">
                  <h5>Vehículos</h5>
                </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body border rounded shadow-sm text-center">
              <a class="fas fa-wrench"></a>
              <h5>Repuestos</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body border rounded shadow-sm text-center">
              <a class="fas fa-file-alt" style="padding: 25px 33px"></a>
              <a href="#ct1_productsModalForm" id="choiceModal_title" data-toggle="modal" class="choiceModal_title"><h5>Generales</h5></a>
            </div>
          </div>
        </div>
        <div class="" style="padding: 0 0 15px 25px">
            <span style="font-size: 14px"> <i class="fas fa-info-circle text-primary"></i> Elige una categoría para la desplegar el formulario</span>
        </div>
      </div>
      <!--<div class="modal-footer">
        <span id="brandsForm_cancel_btn"  class="custom_btn_danger" data-dismiss="modal">Cancelar</span>
        <sapn style="cursor: pointer" id="productsForm_create_btn" name="Crear" class="text-white custom_btn_success">Crear</span>
      </div>-->
    </div>
  </div>
</div>
