<!-- Modal -->
<div class="modal fade" id="ct1_productsModalForm"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" >
  <div style="max-width: 1050px" class="modal-dialog modal-xl  modal-dialog-scrollable modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header shadow-sm text-center">
        <h5 class="ml-auto" name="test" id="productsModalTitle">Crear Vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="productsForm" class="p-4 mb-0"  >
            <h6 class="text-center ">Datos Generales</h6>
            <div class="" style="padding: 0">
                <hr>
            </div>
            <div class="row mt-4">
               <div class="col-md-6">
                 <div class="form-group">
                    <label class="required" for="">Chasis</label>
                    <input id="ct1_chasis" type="text" class="form-control d-inline ml-2" name=""   value="" placeholder="Chasis">
                 </div>
                 <div class="form-group mt-4">
                    <label class="required" for="">Marca</label>
                    <a id="products_brandsModalForm_toggle" title="Añadir Marca" class="btn btn-white text-primary fas fa-plus"></a>
                    <select id="ct1_brand_select" class="form-control d-inline "    name="">
                      <option value="" disabled selected>Selecciona una marca</option>
                    </select>


                 </div>
                 <div class="form-group mt-4">
                    <label for="">Modelo</label>
                    <a id="products_modelsModalForm_toggle" class="btn btn-white text-primary fas fa-plus"></a>
                    <select id="ct1_model_select" class="form-control d-inline ml-2"    name="">
                      <option value="" disabled selected>Selecciona un modelo</option>
                    </select>
                 </div>
                 <div class="form-group mt-4">
                    <label for="">Tipo</label>
                    <a id="products_producType_toggle" class="btn btn-white text-primary fas fa-plus"></a>
                    <select id="ct1_productType_select" class="form-control d-inline ml-2"    name="">
                      <option value="" disabled selected>Selecciona un tipo</option>
                    </select>
                 </div>
                 <div id="products_plate" class="form-group mt-4">
                    <label for="">Placa</label>
                    <input id="ct1_plate" type="text"  class="form-control d-inline ml-2" name=""   value="" placeholder="Placa">
                 </div>
                 <div class="form-group mt-4">
                    <label for="">Año</label>

                    <select id="ct1_year" class="form-control d-inline ml-2"  style="width: 290px"  name="">
                      <option value="" disabled selected>Selecciona un año</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                    </select>
                 </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group ">
                      <label for="">Matrícula</label>
                      <input id="ct1_registration_number" type="text" class="form-control d-inline ml-2"   name="" value="" placeholder="Matricula">
                  </div>
                  <div class="form-group mt-4">
                     <label for="" class="required">Condicion</label>

                     <select id="ct1_condition" class="form-control d-inline ml-2"  style="width: 290px"  name="">
                       <option value="" disabled selected>Seleccione una condicion</option>
                       <option value="nuevo">Nuevo</option>
                       <option value="usado">Usado</option>
                     </select>

                     <!--<div class="btn-group ml-2"   role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary text-white border">Nuevo</button>
                      <button type="button" class="btn btn-white border">Usado</button>
                    </div>-->

                  </div>
                  <div class="form-group mt-4">
                     <label for="">Proveedor</label>
                     <a id="products_providersModalForm_toggle" class="btn btn-white text-primary fas fa-plus"></a>
                     <select id="ct1_providers_select" class="form-control d-inline ml-2"    name="">
                       <option value="" disabled selected>Selecciona un proveedor</option>
                     </select>
                  </div>
                  <div class="form-group mt-4">
                      <label for="">Color</label>
                      <input id="ct1_color" type="text" class="form-control d-inline ml-2"   name="" value="" placeholder="Color">
                  </div>
                  <div class="form-group mt-4">
                     <label for="">Estado</label>
                     <select id="ct1_vehicle_status" class="form-control d-inline ml-2"  style="width: 290px"  name="">
                       <option value="" disabled selected>Selecciona un estado</option>
                       <option value="Disponible">Disponible</option>
                       <option value="Vendido">Vendido</option>

                     </select>
                  </div>
                  <div class="form-group mt-4">
                     <label for="">Combustible</label>
                     <select id="ct1_fuel_select" class="form-control d-inline ml-2"  style="width: 290px"  name="">
                       <option value="" disabled selected>Selecciona un combustible</option>
                       <option value="Gasolina">Gasolina</option>
                       <option value="Gasoil">Gasoil o Diesel</option>
                       <option value="GLP">Gas Licuado de Petróleo (GLP)</option>
                       <option value="Gas Natural">Gas Natural</option>
                       <option value="Bio-diesel">Bio-Diesel</option>
                       <option value="Etanol">Etanol</option>
                       <option value="Electricidad">Electricidad</option>
                       <option value="Hidrógeno">Hidrógeno</option>
                     </select>
                  </div>
               </div>
            </div>


            <!-- Form's second section-->

            <h6 class="text-center mt-5">Detalles</h6>
            <div class="" style="padding: 0">
              <hr>
            </div>
            <div class="row mt-4">
             <div class="col-md-6">
                 <div class="form-group">
                     <label for="">Edición</label>
                     <input id="ct1_edition" type="text" name="" value="" class="form-control d-inline ml-2" placeholder="Edición">
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Motor</label>
                     <input id="ct1_engine" type="text" name="" value="" class="form-control d-inline ml-2" placeholder="Motor">
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Transmisión</label>
                     <select id="ct1_transmition" class="form-control d-inline ml-2"   style="width: 290px" name="">
                       <option value="" disabled selected>Selecciona tipo de Transmisión</option>
                       <option value="automatica">Automática</option>
                       <option value="mecanica">Mecánica</option>
                       <option value="hibrida">Híbrida</option>
                     </select>
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Tracción</label>
                     <select id="ct1_traction" class="form-control d-inline ml-2"   style="width: 290px" name="">
                       <option value="" disabled selected>Selecciona tipo de Tracción</option>
                       <option value="automatica">Trasera</option>
                       <option value="mecanica">Delantera</option>
                     </select>
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Puertas</label>
                     <select id="ct1_doors" class="form-control d-inline ml-2"   style="width: 290px" name="">
                       <option value="" disabled selected>Selecciona cantidad de Puertas</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="4">4</option>
                     </select>
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Interior</label>
                     <select id="ct1_inner_color" class="form-control d-inline ml-2"   style="width: 290px" name="">
                       <option value="" disabled selected>Selecciona color interior</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <label for="">Odómetro</label>
                     <select id="ct1_odometer" class="form-control d-inline ml-2"   style="width: 290px">
                       <option value="" disabled selected>Selecciona tipo de Odómetro</option>
                       <option value=""></option>
                     </select>
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Cilindros</label>
                     <select id="ct1_cilinders" class="form-control d-inline ml-2"   style="width: 290px">
                       <option value="" disabled selected>Selecciona cantidad de Cilindros</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                     </select>
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Kilometraje</label>
                     <input id="ct1_milage" type="text" name="" value="" class="form-control d-inline ml-2" placeholder="Kilometraje">
                 </div>
                 <div class="form-group mt-4">
                     <label for="">Pasajeros</label>
                     <select id="ct1_passengers" class="form-control d-inline ml-2"   style="width: 290px">
                       <option value="" disabled selected>Selecciona cantidad de Pasajeros</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                     </select>
                 </div>

             </div>
            </div>
            <h6 class="text-center mt-4">Images</h6>
            <div class="" style="padding: 0">
              <hr>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <div class="form-group mb-4 mt-4" style=" border-radius: 15px; border: dashed grey 1px; opacity: 0.7">

                        <div class="image-upload-wrap " style="width: 100%; display: flex; justify-content: center; align-items: center; ">
                            <input id="product_image_1" type="file" name="files" value="" style="width: 100%; height: 180px; opacity:0; cursor: pointer" class="form-control d-inline" placeholder="IMAGE">
                            <h4 class="text-center" style="position: absolute; cursor: pointer">Drag Your Image</h4>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mb-4 mt-4" style=" border-radius: 15px; border: dashed grey 1px; opacity: 0.7">

                        <div class="image-upload-wrap " style="width: 100%; display: flex; justify-content: center; align-items: center; ">
                            <input id="product_image_2" type="file" name="files" value="" style="width: 100%; height: 180px; opacity:0; cursor: pointer" class="form-control d-inline" placeholder="IMAGE">
                            <h4 class="text-center" style="position: absolute; cursor: pointer">Drag Your Image</h4>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mb-4 mt-4" style=" border-radius: 15px; border: dashed grey 1px; opacity: 0.7">


                        <div class="image-upload-wrap " style="width: 100%; display: flex; justify-content: center; align-items: center; ">
                            <input id="product_image_3" type="file" name="files" value="" style="width: 100%; height: 180px; opacity:0; cursor: pointer" class="form-control d-inline" placeholder="IMAGE">
                            <h4 class="text-center" style="position: absolute; cursor: pointer">Drag Your Image</h4>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mb-4 mt-4" style=" border-radius: 15px; border: dashed grey 1px; opacity: 0.7">

                        <div class="image-upload-wrap " style="width: 100%; display: flex; justify-content: center; align-items: center; ">
                            <input id="product_image_4" type="file" name="files" value="" style="width: 100%; height: 180px; opacity:0; cursor: pointer" class="form-control d-inline" placeholder="IMAGE">
                            <h4 class="text-center" style="position: absolute; cursor: pointer">Drag Your Image</h4>
                        </div>
                  </div>
                </div>
            </div>

            <span id="product_images_btn" class="btn btn-primary">Upload</span>
          </form>
      </div>
      <div class="modal-footer">
        <span id="brandsForm_cancel_btn"  class="custom_btn_danger" data-dismiss="modal">Cancelar</span>
        <sapn style="cursor: pointer" id="productsForm_create_btn" name="Crear" class="text-white custom_btn_success">Crear</span>
      </div>
    </div>
  </div>
</div>
