
<div id="companies_container" class="container-fluid p-0">
  <div class="card p-3">
        <form id="brands_form" style="" class="company_form" action="index.html" method="post">

            <div class="form-group company_form_body">
              <div class="form-group company_form_crear_group">
                  <button id="brand_modal_btn" type="button" class="custom_btn_success mb-4 shadow-sm mr-4" data-toggle="modal" data-target="#brandsModalForm"> <i class="fas fa-plus"></i> &nbsp;Crear</button>
              </div>
              <div class="form-group" id="company_form_name_group" >
                  <label for="">Nombre</label>
                  <input id="brand_form_name_input" class="form-control"  type="search" name="" value="" placeholder="Código, Marca, Usuario">
              </div>
              <!--<div class="form-group" id="company_form_status_group" >
                <label for="">Estado</label>
                <select id="company_form_status_select" class="form-control" name="" placeholder="Status">
                  <option value="">Todos los estados</option>
                  {{#each status}}
                    <option value="{{status_name}}">{{status_name}}</option>
                  {{/each}}
                </select>
              </div>-->
              <div class="form-group company_form_buscar_group" >
                <span title="refresh" id="brand_form_refresh_btn" class="custom_btn_success" style="display: block; align-self: flex-end; width:auto; cursor:pointer"> <i style="padding: 4px 0" class="fas fa-sync"></i> </span>
              </div>
              <div class="form-group company_form_buscar_group">
                <span title="" id="company_form_buscar_btn" class="custom_btn_success" style="display: block; align-self: flex-end">Buscar</span>
              </div>
            </div>
        </form>
        {{> brands/datatable}}
        <!--<div id="bf_spinner" class="spinner-border text-primary" role="status" style="position:relative; top: 6vh; left: 40vw">
          <span class="sr-only">Loading...</span>
      </div>-->
  </div>

</div>
