<div class="modal fade" id="childValidationModal" tabindex="-1" role="dialog" aria-labelledby="createdWarningModal" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle text-danger"></i> &nbsp;Error al eliminar!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
          <h6>No puede eliminar este elemento, <span id="childvalidation_object"></span></h6>

          <ul id="childlist_outlets">

          </ul>
      </div>
    </div>
  </div>
</div>
