<!-- Modal -->
<div class="modal fade" id="createdWarningModal" tabindex="-1" role="dialog" aria-labelledby="createdWarningModal" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transacción Exitosa!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="createdWarningModal_title_1"></span><strong><span id="createdWarningModal_title_2"></span></strong><span id="createdWarningModal_title_3"></span>
      </div>
      <div class="modal-footer">
        <button id="createdWarningModal_ok_btn" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
