<!-- Modal -->
<div class="modal fade" id="disablingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="createdWarningModal" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alerta Inactivación!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="disablingConfirmationModal_title_1"></span><strong><span id="disablingConfirmationModal_title_2"></span></strong><span id="disablingConfirmationModal_title_3"></span>
        <blockquote class="p-1 mb-0 mt-2" style="background-color: #f4cdce; border-radius: 4px; color: #b25353; font-weight: bold" cite="http://">
          <span style="font-size: 14px"><i class="fas fa-info-circle"></i> &nbsp;Al deshalitar un grupo empresarial, todos las empresas asociadas serán deshabilitadas</span>
        </blockquote>
      </div>
      <div class="modal-footer">
        <span id="disablingConfirmationModal_no_btn" style="cursor: pointer" class="custom_btn_success" data-dismiss="modal">Cancel</span>
        <span id="disablingConfirmationModal_yes_btn" style="font-weight: bold" class="btn btn-danger" data-dismiss="modal">Deshabilitar</span>
      </div>
    </div>
  </div>
</div>
