<!-- Modal -->
<div class="modal fade" id="removingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="createdWarningModal" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alerta Eliminación!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="removingConfirmationModal_title_1"></span><strong><span id="removingConfirmationModal_title_2"></span></strong><span id="removingConfirmationModal_title_3"></span>
      </div>
      <div class="modal-footer">
        <span id="removingConfirmationModal_no_btn" class="custom_btn_success" style="cursor: pointer" data-dismiss="modal">Cancel</span>
        <span id="removingConfirmationModal_yes_btn" style="font-weight: bold" class="btn btn-danger"   data-dismiss="modal">Eliminar</span>
      </div>
    </div>
  </div>
</div>
