<table id="outlets_dataTable" class="table  border-0 table-sm table-hover" style=" width: 100%; margin-bottom: 40px; font-family: 'Nunito Sans', sans-serif;">
  <thead>
    <tr>
      <th>Código</th>
      <th>Sucursal</th>
      <th>G. Empresarial</th>
      <th>RNC</th>
      <th>Fecha Creacion</th>
      <th>Fecha Modificacion</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
