<table id="providers_dataTable" class="table  border-0 table-sm table-hover" style=" width: 100%; margin-bottom: 40px; font-family: 'Nunito Sans', sans-serif;">
  <thead>
    <tr>
      <th>Código Proveedor</th>
      <th>Proveedor</th>
      <th>RNC</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>Creado Por</th>
      <th>Fecha Creacion</th>
      <th>Fecha Modificación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
