<table id="product_types_dataTable" class="table  border-0 table-sm table-hover" style=" width: 100%; margin-bottom: 40px; font-family: 'Nunito Sans', sans-serif;">
  <thead>
    <tr>
      <th>Código</th>
      <th>Tipo Producto</th>
      <th>Fecha Creacion</th>
      <th>Fecha Modificacion</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
