<table id="products_dataTable" class="table  border-0 table-sm table-hover" style=" width: 100%; margin-bottom: 40px; font-family: 'Nunito Sans', sans-serif;">
  <thead>
    <tr>
      <th> <input type="checkbox" name="" value=""> </th>
      <th>Código Producto</th>
      <th>Producto</th>
      <th>Tipo Producto</th>
      <th>Creado Por</th>
      <th>Creado</th>
      <th>Modicado</th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
